USE [master]
GO
/****** Object:  Database [ExamsDB]    Script Date: 13/03/26 01:08:17 ص ******/
CREATE DATABASE [ExamsDB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'ExamsDB', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ExamsDB.mdf' , SIZE = 8192KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'ExamsDB_log', FILENAME = N'C:\Program Files\Microsoft SQL Server\MSSQL17.MSSQLSERVER\MSSQL\DATA\ExamsDB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [ExamsDB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [ExamsDB]
GO
/****** Object:  Table [dbo].[Answers]    Script Date: 13/03/26 01:08:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Answers](
	[AnswerID] [int] IDENTITY(1,1) NOT NULL,
	[QuestionID] [int] NOT NULL,
	[Answer] [nvarchar](500) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[AnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ExaminationRecord]    Script Date: 13/03/26 01:08:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ExaminationRecord](
	[RecordID] [int] IDENTITY(1,1) NOT NULL,
	[ExamID] [int] NOT NULL,
	[PersonName] [nvarchar](100) NULL,
	[Score] [int] NULL,
	[IsPassed] [bit] NULL,
	[StartedAt] [datetime] NULL,
	[TimeSpendPerMinutes] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[RecordID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Exams]    Script Date: 13/03/26 01:08:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Exams](
	[ExamID] [int] IDENTITY(1,1) NOT NULL,
	[ExamTitle] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ExamID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[People]    Script Date: 13/03/26 01:08:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[People](
	[ID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [nchar](10) NOT NULL,
 CONSTRAINT [PK_People] PRIMARY KEY CLUSTERED 
(
	[ID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Questions]    Script Date: 13/03/26 01:08:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Questions](
	[QuestionID] [int] IDENTITY(1,1) NOT NULL,
	[Question] [nvarchar](1000) NOT NULL,
	[ExamID] [int] NOT NULL,
	[RightAnswerID] [int] NOT NULL,
	[Explaination] [nvarchar](1000) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[QuestionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[UserAnswers]    Script Date: 13/03/26 01:08:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[UserAnswers](
	[UserAnswerID] [int] IDENTITY(1,1) NOT NULL,
	[RecordID] [int] NULL,
	[QuestionID] [int] NOT NULL,
	[SelectedAnswerID] [int] NOT NULL,
	[IsCorrect] [bit] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[UserAnswerID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Answers] ON 

INSERT [dbo].[Answers] ([AnswerID], [QuestionID], [Answer]) VALUES (1, 1, N'Stable POS data sharing')
INSERT [dbo].[Answers] ([AnswerID], [QuestionID], [Answer]) VALUES (2, 2, N'Overestimating demand')
INSERT [dbo].[Answers] ([AnswerID], [QuestionID], [Answer]) VALUES (3, 3, N'Lean design')
GO
SET IDENTITY_INSERT [dbo].[Answers] OFF
GO
SET IDENTITY_INSERT [dbo].[Exams] ON 

INSERT [dbo].[Exams] ([ExamID], [ExamTitle]) VALUES (1, N'Exam_1')
INSERT [dbo].[Exams] ([ExamID], [ExamTitle]) VALUES (11, N'Exam_2')
INSERT [dbo].[Exams] ([ExamID], [ExamTitle]) VALUES (12, N'Exam_3')
SET IDENTITY_INSERT [dbo].[Exams] OFF
GO
SET IDENTITY_INSERT [dbo].[Questions] ON 

INSERT [dbo].[Questions] ([QuestionID], [Question], [ExamID], [RightAnswerID], [Explaination]) VALUES (1, N'Which scenario MOST increases demand variability upstream?', 1, 151, N'Promotions + batching = Bullwhip amplification.')
INSERT [dbo].[Questions] ([QuestionID], [Question], [ExamID], [RightAnswerID], [Explaination]) VALUES (2, N'If forecast bias is consistently positive, the organization is:', 1, 2, N'Positive bias = forecast > actual.')
INSERT [dbo].[Questions] ([QuestionID], [Question], [ExamID], [RightAnswerID], [Explaination]) VALUES (3, N'High service level with low inventory turnover most likely indicates:', 1, 153, N'High service but low turns = overstocking.')
GO
SET IDENTITY_INSERT [dbo].[Questions] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Exams__3B3FC455114D8036]    Script Date: 13/03/26 01:08:18 ص ******/
ALTER TABLE [dbo].[Exams] ADD UNIQUE NONCLUSTERED 
(
	[ExamTitle] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[ExaminationRecord] ADD  DEFAULT ((0)) FOR [Score]
GO
ALTER TABLE [dbo].[ExaminationRecord] ADD  DEFAULT ((0)) FOR [IsPassed]
GO
ALTER TABLE [dbo].[ExaminationRecord] ADD  DEFAULT ('GETDATE()') FOR [StartedAt]
GO
ALTER TABLE [dbo].[ExaminationRecord] ADD  DEFAULT ((0)) FOR [TimeSpendPerMinutes]
GO
ALTER TABLE [dbo].[UserAnswers] ADD  DEFAULT ((0)) FOR [IsCorrect]
GO
ALTER TABLE [dbo].[Answers]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
GO
ALTER TABLE [dbo].[ExaminationRecord]  WITH CHECK ADD FOREIGN KEY([ExamID])
REFERENCES [dbo].[Exams] ([ExamID])
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD FOREIGN KEY([ExamID])
REFERENCES [dbo].[Exams] ([ExamID])
GO
ALTER TABLE [dbo].[Questions]  WITH CHECK ADD FOREIGN KEY([RightAnswerID])
REFERENCES [dbo].[Answers] ([AnswerID])
GO
ALTER TABLE [dbo].[UserAnswers]  WITH CHECK ADD FOREIGN KEY([QuestionID])
REFERENCES [dbo].[Questions] ([QuestionID])
GO
ALTER TABLE [dbo].[UserAnswers]  WITH CHECK ADD FOREIGN KEY([RecordID])
REFERENCES [dbo].[ExaminationRecord] ([RecordID])
GO
ALTER TABLE [dbo].[UserAnswers]  WITH CHECK ADD FOREIGN KEY([SelectedAnswerID])
REFERENCES [dbo].[Answers] ([AnswerID])
GO
/****** Object:  StoredProcedure [dbo].[SP_AddNewExamWithQuestionsAnswers]    Script Date: 13/03/26 01:08:18 ص ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
-- =============================================
-- Author:		<Author,,Name>
-- Create date: <Create Date,,>
-- Description:	<Description,,>
-- =============================================
CREATE PROCEDURE [dbo].[SP_AddNewExamWithQuestionsAnswers]

AS
BEGIN
	SET NOCOUNT ON;
	-- in every new usage:
-- 1] check if insertion to @Data comming from the right table.
-- 2] change Exam Name
-- 3] add DataID column before running the script with:
-- ---------------------------------
--  IF COL_LENGTH('dbo.Questions','DataID') IS NULL
--  BEGIN
--      ALTER TABLE dbo.Questions ADD DataID INT;
--  END
------------------------------------
-- Preparing temp table
    DECLARE @Data TABLE
    (
        ID INT,
        Question NVARCHAR(MAX),
        AnswerA NVARCHAR(MAX),
        AnswerB NVARCHAR(MAX),
        AnswerC NVARCHAR(MAX),
        AnswerD NVARCHAR(MAX),
        RightAnswer NVARCHAR(10),
        Explanation NVARCHAR(MAX)
    );

    INSERT INTO @Data
    SELECT 
        CAST(SUBSTRING([id], 2, LEN([id])) AS INT),
        Question,
        SUBSTRING(AnswerA, 4, LEN(AnswerA)),
        SUBSTRING(AnswerB, 4, LEN(AnswerB)),
        SUBSTRING(AnswerC, 4, LEN(AnswerC)),
        SUBSTRING(AnswerD, 4, LEN(AnswerD)),
        SUBSTRING(RightAnswer, 9, LEN(RightAnswer)),
        SUBSTRING(Explanation, 14, LEN(Explanation))
    FROM [ExamsDB].[dbo].csv3;
-- test temp table
    select * from @Data order by ID;


-- insert Exam
    INSERT INTO [dbo].[Exams]
            ([ExamTitle])
        VALUES ('Exam_3');
    declare @ExamID int;
    set @ExamID = SCOPE_IDENTITY();

-- execpt null for RightAnswerID in Questions table (temporary)
    ALTER TABLE dbo.Questions
    ALTER COLUMN RightAnswerID INT NULL;

-- insert Questions
    DECLARE @InsertedQuestions TABLE
    (
        QuestionID INT,
        DataID INT
    );
    
    INSERT INTO dbo.Questions
    (
        Question,
        ExamID,
        RightAnswerID,
        Explaination,
        DataID
    )
    SELECT 
        d.Question,
        @ExamID,
        NULL,
        d.Explanation,
        d.ID
    FROM @Data d;

-- insert Answers
    DECLARE @InsertedAnswers TABLE
    (
        AnswerID INT,
        QuestionID INT,
        AnswerText NVARCHAR(MAX)
    );

    INSERT INTO dbo.Answers (QuestionID, Answer)
    SELECT q.QuestionID, d.AnswerA
    FROM dbo.Questions q
    JOIN @Data d ON q.DataID = d.ID

    UNION ALL
    SELECT q.QuestionID, d.AnswerB
    FROM dbo.Questions q
    JOIN @Data d ON q.DataID = d.ID

    UNION ALL
    SELECT q.QuestionID, d.AnswerC
    FROM dbo.Questions q
    JOIN @Data d ON q.DataID = d.ID

    UNION ALL
    SELECT q.QuestionID, d.AnswerD
    FROM dbo.Questions q
    JOIN @Data d ON q.DataID = d.ID;

-- update RightAnswerID in Questions table
    UPDATE q
    SET RightAnswerID = a.AnswerID
    FROM dbo.Questions q
    JOIN @Data d ON q.DataID = d.ID
    JOIN dbo.Answers a ON a.QuestionID = q.QuestionID
    WHERE a.Answer =
    CASE d.RightAnswer
        WHEN 'A' THEN d.AnswerA
        WHEN 'B' THEN d.AnswerB
        WHEN 'C' THEN d.AnswerC
        WHEN 'D' THEN d.AnswerD
    END;
    ALTER TABLE dbo.Questions DROP COLUMN DataID;
-- set as not null again (as it was)
    ALTER TABLE dbo.Questions
    ALTER COLUMN RightAnswerID INT NOT NULL;

-- test results
    SELECT Exams = count(*) from Exams;
    SELECT Questions = count(*) from Questions;
    SELECT Answers = count(*) from Answers;
END
GO
USE [master]
GO
